{% load wagtailcore_tags forloop_tags %}

{% for table in tables %}
<tr class="font-sans text-lg {% if is_2x2 %} flex flex-1 {% endif %}" style="color: #626262;">
    <td class="flex items-center space-x-2">
        <div class="w-4 h-4 style="{{forloop.counter | gradient_bg}}"></div>
        {% if is_2x2 %}
        <h3 class="font-normal">{{table.0 |truncatechars:4 }}</h3>
        {% else %}
        <h3 class="font-normal">{{table.0 |truncatechars:9 }}</h3>
        {% endif %}
    </td>
    {% if table.1 < 50 %}
    <td class='font-sans font-bold text-center' style='color: #9e0707;'>
        {{table.1}}%
    </td>
    {% elif table.1 < 75 %}
    
    <td class='font-sans font-bold text-center' style='color: #9e4307;'>
        {{table.1}}%
    </td>

    {% else %}
    
    <td class='font-sans font-bold text-center' style='color: #079E1F;'>
        {{table.1}}%
    </td>

    {% endif %}
</tr>
{% endfor %}