{% load static %}

<header class="flex justify-between p-2">
	<div class="space-x-2">
		<span>
			<a class="font-sans text-2xl font-bold tracking-widest" style="color: #EF8767">EMPLOYEE</a>
		</span>
		<span>
			<a class='font-sans text-xl font-bold tracking-widest' style="color: #CDCDCD;">CLIENT</a>
		</span>
	</div>

	<div class="flex items-center space-x-4">

		<div class="p-2 bg-white rounded-full" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
			<img src='{% static "img/icons/notif.png" %}' width="18">
		</div>
		
		<div class="flex items-center px-2 space-x-2 bg-white rounded-full" style="padding-top: 4px; padding-bottom: 4px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
			<img src='{% static "img/icons/search.png" %}' width="18">
			<input class='focus:outline-none' style="background-color: transparent;" placeholder="Search">
		</div>

		<div>
			<img>
		</div>

	</div>
	
</header>