{% load static wagtailcore_tags  wagtailimages_tags %}

<header class="fixed hidden w-full lg:block" style="height: 100px; background-color: #F0F0F0; z-index: 1000;">
	
	<div class="container flex items-center justify-between h-full mx-auto">
		<div class="space-x-2">
			{% if title %}
				<h1 class="font-sans text-4xl font-bold tracking-widest" style="color: #EF8767">{{title}}</h1>
			{% elif employee_model %}
				<div class="flex space-x-4">
					{% image employee_model.profile_pic fill-60x60 as employee_pic %}
					
					<img src="{{employee_pic.url}}" class="rounded-full" style="width: 60px; height: 60px;">
					<div class="flex flex-col justify-center">
						<h1 class="font-sans text-3xl font-bold" style="color: #616161;">
							{{employee_model}}
						</h1>
						<h2 class="font-sans text-lg font-semibold" style="color: #979797;">
							{{employee_model.position}}
						</h2>
					</div>
				</div>
			{% else %}
				{% if employee %}
				<span>
					<a class="font-sans text-4xl font-bold tracking-widest" style="color: #EF8767">EMPLOYEE</a>
				</span>
				<span>
					<a href='../client-list-page' class='font-sans text-2xl font-bold tracking-widest' style="color: #CDCDCD;">CLIENT</a>
				</span>
				{% elif client %}
				<span>
					<a href='../employee-list-page' class="font-sans text-2xl font-bold tracking-widest" style="color: #CDCDCD">EMPLOYEE</a>
				</span>
				<span>
					<a class='font-sans text-4xl font-bold tracking-widest' style="color: #EF8767;">CLIENT</a>
				</span>
				{% endif %}
			{% endif %}
			</div>
		
			<div class="flex items-center">
		
				<div class="relative w-40" >
					<h1 class="mr-2 font-sans text-lg font-semibold text-right" style="color: #747474;">
						{% if filter %}
						{{filter}}
						{% else %}
						{{menu_text}}
						{% endif %}
					</h1>
					<ul id='menu-container' class="absolute hidden w-full p-4 font-sans text-lg font-semibold bg-white rounded-lg" style="color: #747474; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
						<li>
							<a href="/hr-index-page/">Dashboard</a>
						</li>
							{% for menu_list in menu_lists %}
								
								<li>
									<a href="{% pageurl page %}{{employee_id}}{{menu_list.0}}">{{menu_list.1}}</a>
								</li>
							{% endfor %}
						<li>
							<a href="/logout">Logout</a>
						</li>
					</ul>
				</div>
				
				<div id="menu-btn" class="p-2 mr-2 rounded-full focus:outline-none">
					<div id="menu-btn__burger"></div>
				</div>
		
				<a href='' class="p-2 mr-2 bg-white rounded-full" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
					<img src='{% static "img/icons/notif.png" %}' width="18">
				</a>
		
				<div class="flex items-center px-2 mr-4 space-x-2 bg-white rounded-full" style="padding-top: 4px; padding-bottom: 4px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
					<img src='{% static "img/icons/search.png" %}' width="18">
					<input class='focus:outline-none' style="background-color: transparent;" placeholder="Search">
				</div>
		
				<div class="flex items-start space-x-4">
					{% if request.user.is_client %}
					{% image user_model.profile_pic fill-80x80 as profile_pic %}
					<img src='{{profile_pic.url}}' width="45" class="rounded-full" > 
					<div class="leading-3 ">
						<h2 class="font-sans text-2xl font-bold">{{user_model.company}}</h2>
						{% if request.user.is_hr %}
						<h3 class="font-semibold text-md" style="color: #979797;">HR Admin</h3>
						{% elif request.user.is_employee %}	
						<h3 class="font-semibold text-md" style="color: #979797;">Employee</h3>
						{% else %}
						<h3 class="font-semibold text-md" style="color: #979797;">Client</h3>
						{% endif %}
					</div>
					{% else %}
					{% image user_model.profile_pic fill-80x80 as profile_pic %}
					<img src='{{profile_pic.url}}' width="45" class="rounded-full "> 
					<div class="leading-3 ">
						<h2 class="font-sans text-2xl font-bold">{{request.user.last_name}}</h2>
						{% if request.user.is_hr %}
						<h3 class="font-semibold text-md" style="color: #979797;">HR Admin</h3>
						{% elif request.user.is_employee %}	
						<h3 class="font-semibold text-md" style="color: #979797;">Employee</h3>
						{% else %}
						<h3 class="font-semibold text-md" style="color: #979797;">Client</h3>
						{% endif %}
					</div>
					{% endif %}
		
				</div>
		
			</div>

	</div>
	
	
</header>