{% load static wagtailcore_tags  wagtailimages_tags notification_tags %}

<header>
    <div class="flex flex-row items-center px-8 py-2 space-x-2 "  style="box-shadow: 10px 2px 10px rgb(124, 124, 124, 0.316);">
        <div class="flex-1">
        </div>
        <div>
			{% image user_model.profile_pic fill-40x40 as profile_pic %}
            <img src='{{profile_pic.url}}' width="40" class="rounded-full "> 
        </div>    

    </div>
	<div class="flex items-end p-4 space-x-2 " >
        {% if title == 'Dashboard' %}
		<img src="{% static 'img/icons/dashboard-orange.png' %}">
		<h1 class="font-sans text-xl font-bold" style="color: #E67E22;">{{title}}</h1>
        {% elif title == 'Clients' %}
		

			<div class="flex items-end flex-1 space-x-2">
				{% if employee_model %}
				<div class="flex space-x-2">
					{% image employee_model.profile_pic fill-35x35 as employee_pic %}
					
					<img src="{{employee_pic.url}}" class="rounded-full" width="35">
					<div class="flex flex-col justify-center">
						<h1 class="font-sans text-sm font-bold lg:text-xl text-gray" >
							{{employee_model}} Employees
						</h1>
						<h2 class="font-sans text-sm font-semibold text-gray-1">
							{{employee_model.position}}
						</h2>
					</div>
				</div>
				{% else %}
				<img src="{% static 'img/icons/clients-orange.png' %}">
				<h1 class="font-sans text-xl font-bold" style="color: #E67E22;">{{title}}</h1>
				{% endif %}
			</div>

			{% if search %}
			
			<!-- <div class="flex items-center px-2 mr-4 space-x-2 bg-white rounded-full shadow-box padding-y-4" >
				<img src='{% static "img/icons/search.png" %}' width="18">
				<input id='search-input' autocomplete="off" data-url='{% pageurl search_page %}search' class='focus:outline-none bg-color-transparent' placeholder="Search">
			</div> -->

			{% endif %}

        {% elif title == 'Employees' %}
		<div class="flex items-end flex-1 space-x-2">
			<img src="{% static 'img/icons/employees-orange.png' %}">
			<h1 class="font-sans text-xl font-bold" style="color: #E67E22;">{{title}}</h1>

		</div>
		
		<div class="flex items-center px-2 mr-4 space-x-2 bg-white rounded-full shadow-box padding-y-4" >
			<img src='{% static "img/icons/search.png" %}' width="18">
			<input id='search-input' autocomplete="off" data-url='{% pageurl search_page %}search' class='focus:outline-none bg-color-transparent' placeholder="Search">
		</div>

        {% elif title == 'Notifications' %}
		<img src="{% static 'img/icons/notifications-orange.png' %}">
		<h1 class="font-sans text-xl font-bold" style="color: #E67E22;">{{title}}</h1>
        {% endif %}
	</div>
</header>