{% for i in xrange %}
{% if clients.number == i %}
<span class="px-2 font-sans text-sm font-semibold bg-gray-300 cursor-pointer hover:bg-gray-200" style="color: rgb(67, 67, 67);">{{i}}</span>
{% else %}
    {% if forloop.counter == 4 and clients.paginator.num_pages > i %}
    <span class="px-2 font-sans text-sm font-semibold cursor-pointer hover:bg-gray-200" style="color: rgb(67, 67, 67);">...</span>
    <span class="px-2 font-sans text-sm font-semibold cursor-pointer hover:bg-gray-200" style="color: rgb(67, 67, 67);">{{clients.paginator.num_pages}}</span>
    {% elif clients.paginator.num_pages >= i %}
    <span class="px-2 font-sans text-sm font-semibold cursor-pointer hover:bg-gray-200" style="color: rgb(67, 67, 67);">{{i}}</span>
    {% endif %}
{% endif %}
{% endfor %}