{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<title>
		{% block title %}
			{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
		{% endblock %}
		{% block title_suffix %}
			{% with self.get_site.site_name as site_name %}
				{% if site_name %}- {{ site_name }}{% endif %}
			{% endwith %}
		{% endblock %}
	</title>
	<meta name="description" content="Performance Management System" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/tailwind.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head_style %} {% endblock %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js" integrity="sha512-JxJpoAvmomz0MbIgw9mx+zZJLEvC6hIgQ6NcpFhVmbK1Uh5WynnRTTSGv3BTZMNBpPbocmdSJfldgV5lVnPtIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>


<body  class="{% block body_class %}{% endblock %} flex flex-row h-screen" >
    {% block style %} {% endblock %}

	{% block side_bard %}
	{% endblock %}

		
	<div class="flex flex-col flex-1 w-full" >
		{% block header %} {% endblock %}
		<div id='main-container' class="flex-1 overflow-auto" >
			{% block content %}{% endblock %}
		</div>
	</div>



    <script src="{% static 'js/header.js' %}"></script>
    {% block scripts %}
    {% endblock %}

</body>


</html>
