{% load static wagtailuserbar %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock head %}



<body class="{% block body_class %}{% endblock %} container mx-auto" style="background-color: #F0F0F0;">
    {% block style %} {% endblock %}

    {% block header %}
    {% endblock header %}
    
    <main role='main'>
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}
    <script src="{% static 'js/header.js' %}"></script>

</body>


</html>
