{% extends 'base.html'%}
{% load wagtailcore_tags wagtailimages_tags static humanize %}


{% block header %}
	{% include 'includes/header.html' with title='NOTIFICATION' user_model=user_model %}
{% endblock %}

{% block content %}
<section class="flex mx-auto space-x-6 default-section-padding min-height-800 max-width-1800">
	<div class="flex-1 space-y-4 ">

		{% for notification in notifications %}

		<a data-user_evaluation='{{notification.user_evaluation.pk}}' data-notification-pk='{{notification.pk}}' class="anchor-clickable cursor-pointer flex w-full p-4 bg-white{% if notification.seen %} shadow-box {% else %} shadow-box-yellow {% endif %}">
			{% image notification.user_evaluation.employee.profile_pic original as notification_image %}
			<img src='{{notification_image.url}}' class="object-cover w-32 h-32 rounded-full" >
			<div class="flex flex-col justify-center px-4">
				<div class="flex items-end space-x-2">
					<h2 class="font-sans text-xl font-semibold text-gray-primary-color">{{notification.user_evaluation.employee}}</h2>
					<h2 class="font-sans font-semibold text-md text-gray-tertiary-color">{{notification.user_evaluation.employee.position}}</h2>
				</div>
				<h1 class="font-sans text-4xl font-bold text-gray-primary-color">{{notification.message}}</h1>
				<h2 class="font-sans text-lg text-gray-primary-color">{{notification.created_at|naturaltime}}</h2>
			</div>

		</a>
		
		
		{% endfor %}
		
	</div>
	<div class="flex flex-1 ">
		<div  id='notification-selected' class="fixed px-8 py-8 bg-white shadow-box height-800 max-width-900 width-50vw">

		</div>
	</div>

</section>
{% endblock %}

{% block scripts %}
<script>
	let user_evaluation_first_id = '{{notifications.0.user_evaluation.pk}}'
	let notification_first_id = '{{notifications.0.pk}}'
</script>
<script src="{% static 'js/notifications.js' %}"></script>
{% endblock %}
