{% extends 'base.html'%}
{% load wagtailcore_tags wagtailimages_tags static humanize %}

{% block header %}
{% include 'includes/header_latest.html' with user_model=request.user.hradmin title='Notifications' %}
{% endblock %}

{% block side_bard %}
  {% include 'includes/side_menu.html' with current_menu='notifications' %}
{% endblock %}


{% block content %}
<section class="container px-4 mx-auto">
	<div class="flex space-x-6 min-height-400 max-width-900" >
		<div class="flex-1">
			<div class="flex-1 space-y-4" id="user-notifications">
				{% for notification in notifications %}
				{% if notification.notification_type == 'client-evaluated-hr' %}
				<a data-notification-pk='{{notification.pk}}' 
				onclick="anchor_clickable(this)"
				class=" cursor-pointer flex w-full p-4 bg-white
						{% if notification.seen %} 
							shadow-box
						{% else %} 
							shadow-box-yellow 
						{% endif %}">
					{% image notification.user_evaluation.employee.profile_pic original as notification_image %}
					<img src='{{notification_image.url}}' class="object-cover w-16 h-16 rounded-full" >
					<div class="flex flex-col justify-center px-4 ">
						<div class="flex items-end space-x-2">
							<h2 class="font-sans text-sm font-semibold text-gray-primary-color">{{notification.user_evaluation.employee}}</h2>
							<h2 class="font-sans text-sm font-semibold text-gray-tertiary-color">{{notification.user_evaluation.employee.position}}</h2>
						</div>
						<h1 class="font-sans text-2xl font-bold leading-6 text-gray-primary-color">{{notification.message}}</h1>
						<h2 class="font-sans text-sm leading-6 text-gray-primary-color">{{notification.created_at|naturaltime}}</h2>
					</div>
	
				</a>
				{% elif notification.notification_type == 'client-evaluated-employee'  %}
				<a data-notification-pk='{{notification.pk}}' 
				onclick="anchor_clickable(this)"
				class=" cursor-pointer flex w-full p-4 bg-white
				{% if notification.seen %} 
					shadow-box
				{% else %} 
					shadow-box-yellow 
				{% endif %}">
					{% image notification.user_evaluation.client.profile_pic original as notification_image %}
					<img src='{{notification_image.url}}' class="object-cover w-16 h-16 rounded-full" >
					<div class="flex flex-col justify-center px-4">
						<div class="flex items-end space-x-2">
							<h2 class="font-sans text-sm font-semibold text-gray-primary-color">{{notification.user_evaluation.client}}</h2>
							<h2 class="font-sans text-sm font-semibold text-md text-gray-tertiary-color">Client</h2>
						</div>
						<h1 class="font-sans text-2xl font-bold text-gray-primary-color">{{notification.message}}</h1>
						<h2 class="font-sans text-sm text-gray-primary-color">{{notification.created_at|naturaltime}}</h2>
					</div>
	
				</a>
	
				{% elif notification.notification_type == 'notify-evaluated-all-client' or notification.notification_type == 'notify-evaluated-specific-client'%}
	
				<a data-hr_admin_id='{{notification.hr_admin.pk}}' onclick="anchor_clickable(this)" data-notification-pk='{{notification.pk}}' class=" cursor-pointer flex w-full p-4 bg-white
				{% if notification.seen %}
					shadow-box
				{% else %} 
					shadow-box-yellow 
				{% endif %}">
					{% image notification.hr_admin.profile_pic original as notification_image %}
					<img src='{{notification_image.url}}' class="object-cover w-16 h-16 rounded-full" >
					<div class="flex flex-col justify-center px-4">
						<div class="flex items-end space-x-2">
							<h2 class="font-sans text-sm font-semibold text-gray-primary-color">{{notification.hr_admin}}</h2>
							<h2 class="font-sans text-sm font-semibold text-gray-tertiary-color">HR Admin</h2>
						</div>
						<h1 class="font-sans text-2xl font-bold text-gray-primary-color">{{notification.message}}</h1>
						<h2 class="font-sans text-sm text-gray-primary-color">{{notification.created_at|naturaltime}}</h2>
					</div>
	
				</a>
				{% elif notification.notification_type == 'new-client-employee' %}
	
				<a data-hr_admin_id='{{notification.hr_admin.pk}}' onclick="anchor_clickable(this)" data-notification-pk='{{notification.pk}}' class=" cursor-pointer flex w-full p-4 bg-white
				{% if notification.seen %} 
					shadow-box
				{% else %} 
					shadow-box-yellow 
				{% endif %}">
					{% image notification.user_evaluation.client.profile_pic original as notification_image %}
					<img src='{{notification_image.url}}' class="object-cover w-16 h-16 rounded-full" >
					<div class="flex flex-col justify-center px-4">
						<div class="flex items-end space-x-2">
							<h2 class="font-sans text-sm font-semibold text-gray-primary-color">{{notification.user_evaluation.client}}</h2>
							<h2 class="font-sans text-sm font-semibold text-gray-tertiary-color">Client</h2>
						</div>
						<h1 class="font-sans text-2xl font-bold text-gray-primary-color">{{notification.message}}</h1>
						<h2 class="font-sans text-sm text-gray-primary-color">{{notification.created_at|naturaltime}}</h2>
					</div>
				</a>
	
				{% elif notification.notification_type == 'new-employee-client' %}
	
				<a  data-hr_admin_id='{{notification.hr_admin.pk}}' onclick="anchor_clickable(this)" data-notification-pk='{{notification.pk}}' class=" cursor-pointer flex w-full p-4 bg-white
				{% if notification.seen %} 
					shadow-box
				{% else %} 
					shadow-box-yellow 
				{% endif %}">
					{% image notification.user_evaluation.employee.profile_pic original as notification_image %}
					<img src='{{notification_image.url}}' class="object-cover w-16 h-16 rounded-full" >
					<div class="flex flex-col justify-center px-4">
						<div class="flex items-end space-x-2">
							<h2 class="font-sans text-sm font-semibold text-gray-primary-color">{{notification.user_evaluation.employee}}</h2>
							<h2 class="font-sans text-sm font-semibold text-gray-tertiary-color">{{notification.user_evaluation.employee.position}}</h2>
						</div>
						<h1 class="font-sans text-2xl font-bold text-gray-primary-color">{{notification.message}}</h1>
						<h2 class="font-sans text-lg text-gray-primary-color">{{notification.created_at|naturaltime}}</h2>
					</div>
				</a>
	
				{% elif notification.notification_type == 'evaluated-form-is-send-to-employee' %}
	
				<a data-hr_admin_id='{{notification.hr_admin.pk}}' onclick="anchor_clickable(this)" data-notification-pk='{{notification.pk}}' class=" cursor-pointer flex p-4 bg-white
				{% if notification.seen %} 
					shadow-box
				{% else %} 
					shadow-box-yellow 
				{% endif %}">
					{% image notification.hr_admin.profile_pic original as notification_image %}
					<img src='{{notification_image.url}}' class="object-cover w-16 h-16 rounded-full" >
					<div class="flex flex-col justify-center px-4">
						<div class="flex items-end space-x-2">
							<h2 class="font-sans text-sm font-semibold text-gray-primary-color">{{notification.hr_admin}}</h2>
							<h2 class="font-sans text-sm font-semibold text-gray-tertiary-color">HR Admin</h2>
						</div>
						<h1 class="font-sans text-2xl font-bold text-gray-primary-color">{{notification.message}}</h1>
						<h2 class="font-sans text-sm text-gray-primary-color">{{notification.created_at|naturaltime}}</h2>
					</div>
				</a>
	
				{% elif notification.notification_type == 'client-has-been-notify' %}
				<a  data-hr_admin_id='{{notification.hr_admin.pk}}' onclick="anchor_clickable(this)" data-notification-pk='{{notification.pk}}' class=" cursor-pointer flex w-full p-4 bg-white
				{% if notification.seen %} 
					shadow-box
				{% else %} 
					shadow-box-yellow 
				{% endif %}">
					{% image notification.hr_admin.profile_pic original as notification_image %}
					<img src='{{notification_image.url}}' class="object-cover w-16 h-16 rounded-full" >
					<div class="flex flex-col justify-center px-4">
						<div class="flex items-end space-x-2">
							<h2 class="font-sans text-sm font-semibold text-gray-primary-color">{{notification.hr_admin}}</h2>
							<h2 class="font-sans text-sm font-semibold text-gray-tertiary-color">HR Admidn</h2>
						</div>
						<h1 class="font-sans text-2xl font-bold text-gray-primary-color">{{notification.message}}</h1>
						<h2 class="font-sans text-sm text-gray-primary-color">{{notification.created_at|naturaltime}}</h2>
					</div>
				</a>
	
				{% endif %}
	
	
				{% endfor %}
	
			</div>
			
			<div class="flex items-center justify-center p-4">
				<button id='more-button' class="font-sans text-xl font-bold text-center text-blue">More</button>
			</div>
		</div>
	
		<div class="flex flex-1 ">
			<div  id='notification-selected' class="fixed px-8 py-8 bg-white shadow-box max-width-900 width-40vw height-490">
			</div>
		</div>	
		
	</div>

</section>
{% endblock %}

{% block scripts %}
<script>
	let notification_first_id = '{{notifications.0.pk}}'

	let user_evaluation_first_id = '{{notifications.0.user_evaluation.pk}}'
	let hr_admin_first_id = '{{notifications.0.hr_admin.pk}}'
</script>
<script src="{% static 'js/notifications.js' %}"></script>
<script src="{% static 'js/header_search.js' %}"></script>
<script src="{% static 'js/infinite_scroll_pagination.js' %}"></script>
{% endblock %}
