{% load wagtailcore_tags wagtailimages_tags %}

{% if notification.notification_type == 'client-evaluated-hr' %}
<div class="flex flex-col items-center" >
    {% image notification.user_evaluation.employee.profile_pic original as profile_pic %}
    <img src='{{profile_pic.url}}' class="object-cover rounded-full w-44 h-44" >
    <div class="text-center">
        <h1 class="font-sans text-2xl font-extrabold leading-tight text-gray-primary-color">{{notification.user_evaluation.employee}}</h1>
        <h1 class="mb-2 font-sans text-2xl font-semibold leading-tight text-gray-primary-color">{{notification.user_evaluation.employee.position}}</h1>
        <a href="{{evaluation_index_page}}" class="px-4 py-1 font-sans text-lg text-white rounded-full bg-eval-color font-base ">
            VIEW EVALUATION
        </a>
    </div>
</div>

<div class="space-y-2">
    <div>
        <h2 class="font-sans text-xl text-gray-primary-color">Client</h2>
        <h1 class="font-sans text-3xl font-bold text-gray-primary-color">&ensp; {{notification.user_evaluation.client.company}}</h1>
    </div>
    <div class="flex overflow-y-auto"  style="height: 300px;">
        <div class="flex-1">
            <h2 class="font-sans text-xl text-gray-primary-color">Categories</h2>
            {% for category in categories %}
            <h1 class="font-sans text-2xl font-bold text-gray-primary-color">&ensp; {{category}}</h1>
            {% endfor %}

        </div>
        <div class="flex flex-col items-end flex-1">
            <h2 class="font-sans text-xl text-gray-primary-color">Percentage</h2>
            {% for category_percentage in category_percentages %}
            {% if category_percentage == 0 %}
            <h1 class="font-sans text-2xl font-bold text-blue">WAITING FOR EVALUATION</h1>
            {% elif category_percentage < 50 %}
            <h1 class="font-sans text-2xl font-bold text-red">{{category_percentage | floatformat:1}}%</h1>
            {% elif category_percentage < 75 %}
            <h1 class="font-sans text-2xl font-bold text-orange">{{category_percentage | floatformat:1}}%</h1>
            {% else %}
            <h1 class="font-sans text-2xl font-bold text-green">{{category_percentage | floatformat:1}}%</h1>
            {% endif %}
            {% endfor %}
        </div>
        
    </div>
</div>
{% elif  notification.notification_type == 'client-evaluated-employee'  %}

<div class="flex flex-col items-center" >
    {% image notification.user_evaluation.client.profile_pic original as profile_pic %}
    <img src='{{profile_pic.url}}' class="object-cover rounded-full w-44 h-44" >
    <div class="text-center">
        <h1 class="font-sans text-2xl font-extrabold leading-tight text-gray-primary-color">{{notification.user_evaluation.client}}</h1>
        <h1 class="mb-2 font-sans text-2xl font-semibold leading-tight text-gray-primary-color">Client</h1>
        <a href="{{evaluation_index_page}}clients/{{notification.user_evaluation.pk}}" class="px-4 py-1 font-sans text-lg text-white rounded-full bg-eval-color font-base ">
            VIEW EVALUATION
        </a>
    </div>
</div>

<div class="space-y-2">
    <div>
        <h2 class="font-sans text-xl text-gray-primary-color">Client</h2>
        <h1 class="font-sans text-3xl font-bold text-gray-primary-color">&ensp; {{notification.user_evaluation.client.company}}</h1>
    </div>
    <div class="flex overflow-y-auto"  style="height: 300px;">
        <div class="flex-1">
            <h2 class="font-sans text-xl text-gray-primary-color">Categories</h2>
            {% for category in categories %}
            <h1 class="font-sans text-2xl font-bold text-gray-primary-color">&ensp; {{category}}</h1>
            {% endfor %}
            

        </div>
        <div class="flex flex-col items-end flex-1">
            <h2 class="font-sans text-xl text-gray-primary-color">Percentage</h2>
            {% for category_percentage in category_percentages %}
            {% if category_percentage == 0 %}
            <h1 class="font-sans text-2xl font-bold text-blue">WAITING FOR EVALUATION</h1>
            {% elif category_percentage < 50 %}
            <h1 class="font-sans text-2xl font-bold text-red">{{category_percentage | floatformat:1}}%</h1>
            {% elif category_percentage < 75 %}
            <h1 class="font-sans text-2xl font-bold text-orange">{{category_percentage | floatformat:1}}%</h1>
            {% else %}
            <h1 class="font-sans text-2xl font-bold text-green">{{category_percentage | floatformat:1}}%</h1>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% elif notification.notification_type == 'notify-evaluated-all-client' %}
<div class="flex flex-col items-center" >
    {% image selected_hr_admin.profile_pic original as profile_pic %}
    <img src='{{profile_pic.url}}' class="object-cover rounded-full w-44 h-44" >
    <div class="text-center">
        <h1 class="font-sans text-2xl font-extrabold leading-tight text-gray-primary-color">{{selected_hr_admin}}</h1>
        <h1 class="mb-2 font-sans text-2xl font-semibold leading-tight text-gray-primary-color">HR Admin</h1>
    </div>
</div>

<div class="space-y-2">
    <div>
        <h2 class="font-sans text-2xl font-semibold text-gray-primary-color">Message:</h2>
        <div class="px-4 space-y-4">
            <h1 class="font-sans text-3xl font-bold text-gray-primary-color">Please kindly evaluate the following employee as soon as possible</h1>
            <div class="px-4 py-2">
                {% for user_evaluation in on_evaluation_employee%}
                <div class="flex items-center">
                    
                    {% image user_evaluation.employee.profile_pic original as profile_pic %}
                    <div>
                        <img src='{{profile_pic.url}}' class="object-cover w-12 h-12 rounded-full" >
                    </div>
                    <div class="flex-1 px-4">
                        <h1 class="font-sans text-lg font-extrabold leading-tight text-gray-primary-color">{{user_evaluation.employee}}</h1>
                        <h1 class="mb-2 font-sans font-semibold leading-tight text-md text-gray-primary-color">{{user_evaluation.employee.position}}</h1>
                    </div>
                    <div>
                        <a href="{{evaluation_index_page}}{{user_evaluation.pk}}"  class="flex-1 px-4 py-1 font-sans text-lg text-white rounded-full bg-eval-color font-base ">EVALUATE</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>
{% elif notification.notification_type == 'notify-evaluated-specific-client' %}


<div class="flex flex-col items-center" >
    {% image on_evaluation_employee.employee.profile_pic original as profile_pic %}
    <img src='{{profile_pic.url}}' class="object-cover rounded-full w-44 h-44" >
    <div class="text-center">
        <h1 class="font-sans text-2xl font-extrabold leading-tight text-gray-primary-color">{{on_evaluation_employee.employee}}</h1>
        <h1 class="mb-2 font-sans text-2xl font-semibold leading-tight text-gray-primary-color">{{on_evaluation_employee.employee.position}}</h1>
        <a href="{{evaluation_index_page}}{{on_evaluation_employee.pk}}" class="px-4 py-1 font-sans text-lg text-white rounded-full bg-eval-color font-base ">
            EVALUATE NOW
        </a>
    </div>
</div>

<div class="px-4 py-4 space-y-1 font-sans text-xl font-semibold text-gray-fourthary-color">
    <h1>Dear {{notification.reciever.client.company}},</h1>
    
    <p>
        Please kindly evaluate  your employe {{on_evaluation_employee.employee}} I understand 
        that you have a lot of work to do on your company, but incase that you forgot to evaluate your employee
        please evaluate it as soon as possible, don't worry I will notify {{on_evaluation_employee.employee}} as
        soon as the evaluation is finish.
    </p>

    <br>
    <h1>Thank you so much.</h1>
    <h1 class="text-sm">{{notification.created_at}}</h1>    
    <br>
    <h1 >Sincerely yours, </h1>
    <h1>{{notification.hr_admin}}</h1>
    <h1 class="text-lg">HR Admin</h1>
    
</div>
{% elif notification.notification_type == 'new-client-employee'  %}


<div class="px-4 space-y-1 font-sans text-xl font-semibold text-gray-fourthary-color">
    <h1 >{{notification.created_at}}</h1>
    <br>
    <h1>{{notification.reciever.employee}}</h1>
    <h1>{{notification.reciever.employee.position}}</h1>
    <h1>{{notification.reciever.employee.address}}</h1>
    <br>
    
    <h1>Dear {{notification.reciever.employee.first_name}},</h1>
    <p>
        I want to inform you that a new client have been assign to you, it's company name is {{on_evaluation_employee.client.company}}
        kindly wait for it to evaluate you, if the result of your performance doesn't come within days, contact me to notify it to evaluate
    </p>
    
    <br>
    <h1>Thank you and goodluck.</h1>
    <br>
    <h1 >Sincerely yours, </h1>
    <h1>{{notification.hr_admin}}</h1>
    <h1 class="text-lg">HR Admin</h1>
</div>


{% elif notification.notification_type == 'new-employee-client'  %}

<div class="flex flex-col items-center" >
    {% image on_evaluation_employee.employee.profile_pic original as profile_pic %}
    <img src='{{profile_pic.url}}' class="object-cover rounded-full w-44 h-44" >
    <div class="text-center">
        <h1 class="font-sans text-2xl font-extrabold leading-tight text-gray-primary-color">{{on_evaluation_employee.employee}}</h1>
        <h1 class="mb-2 font-sans text-2xl font-semibold leading-tight text-gray-primary-color">{{on_evaluation_employee.employee.position}}</h1>
        <a href="{{evaluation_index_page}}{{on_evaluation_employee.pk}}" class="px-4 py-1 font-sans text-lg text-white rounded-full bg-eval-color font-base ">
            VIEW EVALUATION
        </a>
    </div>
</div>

<div class="px-4 py-4 space-y-1 font-sans text-xl font-semibold text-gray-fourthary-color">
    <h1>Dear {{notification.reciever.client.company}},</h1>
    <p>
        I want to inform you that a new client have been assign to you, it's company name is {{on_evaluation_employee.client.company}}
        kindly wait for it to evaluate you, if the result of your performance doesn't come within days, contact me to notify it to evaluate
    </p>
    
    <br>
    <h1>Thank you and goodluck.</h1>
    <h1 class="text-sm">{{notification.created_at}}</h1>    
    <br>
    <h1 >Sincerely yours, </h1>
    <h1>{{notification.hr_admin}}</h1>
    <h1 class="text-lg">HR Admin</h1>
    
</div>


{% elif notification.notification_type == 'evaluated-form-is-send-to-employee' %}

<div class="flex flex-col items-center" >
    {% image notification.hr_admin.profile_pic original as profile_pic %}
    <img src='{{profile_pic.url}}' class="object-cover rounded-full w-44 h-44" >
    <div class="text-center">
        <h1 class="font-sans text-2xl font-extrabold leading-tight text-gray-primary-color">{{notification.hr_admin}}</h1>
        <h1 class="mb-2 font-sans text-2xl font-semibold leading-tight text-gray-primary-color">HR Admin</h1>
    </div>
</div>

<div class="px-4 py-4 space-y-1 font-sans text-xl font-semibold text-gray-fourthary-color">
    <h1>Dear {{notification.reciever.client.company}},</h1>
    <p>
        Thank you for evaluating, your evaluation for the performance of the employee has been send, 
        have a nice day!, don't forget to evaluate all the remaining employee
    </p>
    
    <br>
    <h1>Thank you again!</h1>
    <h1 class="text-sm">{{notification.created_at}}</h1>    
    <br>
    <h1 >Sincerely yours, </h1>
    <h1>{{notification.hr_admin}}</h1>
    <h1 class="text-lg">HR Admin</h1>
    
</div>


{% elif notification.notification_type == 'client-has-been-notify' %}

<div class="px-4 space-y-1 font-sans text-xl font-semibold text-gray-fourthary-color">
    <h1 >{{notification.created_at}}</h1>
    <br>
    <h1>{{notification.reciever.employee}}</h1>
    <h1>{{notification.reciever.employee.position}}</h1>
    <h1>{{notification.reciever.employee.address}}</h1>
    <br>
    
    <h1>Dear {{notification.reciever.employee.first_name}},</h1>
    <p>
        I have notify {{on_evaluation_employee.client.company}} to evaluate your performance, just kindly wait them to finish it,
        it might take sometime to evaluate you depending on how many employee that your client needs to evaluate, but rest assured
        we will notify you as soon your performance is evaluated, if the result of your performance doesn't come within days,
        you can contact me again, to do the honor of notifying your client again, sorry for the inconvenience. 
    </p>

    <br>
    <h1>Thank you for consideration.</h1>
    <br>
    <h1 >Sincerely yours, </h1>
    <h1>{{notification.hr_admin}}</h1>
    <h1 class="text-lg">HR Admin</h1>
</div>

{% endif %}