{% extends 'base.html'%}

{% load wagtailcore_tags %}

{% block body_class %}
	flex
	flex-col
	h-screen
{% endblock %}

{% block header %}
	{% include 'includes/header.html' %}
{% endblock %}

{% block content %}

<section class="container flex flex-col flex-1 mx-auto space-y-4">
		
	<div class="flex items-center justify-center space-x-4">
		<div class="w-32 h-32 bg-black rounded-full"></div>

		<div class="leading-4">
			<h1 class="font-sans text-3xl font-bold">{{request.user.first_name}} {{request.user.last_name}}</h1>
			<h2>{{request.user.employee.position}}</h2>
		</div>
	</div>

	<div class="flex flex-col flex-1 space-y-2">

	<section>
		<h1>Client Name : {{ request.user.employee.assigned_client.company }} </h1>
	</section>



	</div>

</section>

{% endblock %}
