{% extends 'base.html'%}

	{% load wagtailcore_tags %}

{% block body_class %}
	flex
	flex-col
	h-screen
{% endblock %}

{% block header %}
	{% include 'includes/header.html'  with user_model=request.user.client %}
{% endblock %}

{% block content %}


<section class="container flex flex-col flex-1 mx-auto space-y-4" style="padding-top: 120px;">
		

</section>

{% for assign in assigns %}
	<section>
		<h1>Employee Name : {{assign.employee.employee	}} </h1>
		<h1>Project Assign : </h1>
		<h1>Date : </h1>
		<h1>Reports : </h1>
		<h1>Position : </h1>
		<h1>Hiring Date : </h1>
	</section>
{% endfor %}
	
{% endblock %}
