{% load static wagtailimages_tags wagtailcore_tags %}

{% for result in results %}
<li>
    <a href="{% pageurl user_evaluation_details_index %}{{result.pk}}" class="flex items-start space-x-4">
    {% image result.employee.profile_pic fill-80x80 as profile_pic %}
    <img src='{{profile_pic.url}}' width="45" class="rounded-full "> 
    <div>
        <h1 class="font-sans text-base font-bold leading-2">{{result.employee}}</h1>
        <h2 class="font-sans text-sm leading-2">{{result.employee.position}}</h2>
    </div>
        
    </a>
</li>
{% endfor %}