
{% load static wagtailcore_tags wagtailimages_tags forloop_tags tz wagtailsettings_tags %}


{% for user_evaluation in user_evaluations %}
<tr class="table-bottom-border hover:bg-gray-100">
	
	{% check_status user_evaluation as status %}
	{% if status == 'for-evaluation' %}
	
		
	<td class="p-0 font-sans font-semibold text-gray">
		<a class='flex items-center justify-start block w-full px-4 space-x-4' href=" {% pageurl evaluation_page_index %}{{user_evaluation.pk}}" style="min-height: 3rem;">
			{% include 'includes/employee_profile.html' with size=30 employee=user_evaluation.employee %}
			<h1 style='color:#007bff'>{{user_evaluation.employee}}</h1>
		</a>
	</td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' href=" {% pageurl evaluation_page_index %}{{user_evaluation.pk}}">{{user_evaluation.employee.address}}</a></td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' href=" {% pageurl evaluation_page_index %}{{user_evaluation.pk}}">{{user_evaluation.employee.position}}</a></td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' href=' {% pageurl evaluation_page_index %}{{user_evaluation.pk}}'>+63{{user_evaluation.employee.contact_number}}</a></td>
	
	<td class="p-0 font-sans text-sm font-semibold text-red">
	  <a
		class="flex flex-col justify-center block w-full h-12 px-4"
		href="{% pageurl evaluation_page_index %}{{user_evaluation.pk}}"
		>
		<h1>For Evaluation</h1>

		{% check_if_time_exceed user_evaluation as not_exceed %}
		{% if not_exceed %}
		<h2 class="text-xs text-orange">{{user_evaluation | for_evaluation_filter | timezone:timezone | date:'( h:i A \o\f M d)'}}</h2>
		{% else %}
		{% get_settings use_default_site=True %}
		<h2 class="text-xs text-orange">( {{settings.base.RulesSettings.limit_message}} )</h2>
		{% endif %}
		
		</a>
	</td>
	{% elif status == 'done-evaluating'  %}
	
		
	<td class="p-0 font-sans font-semibold text-gray">
		<a class='flex items-center justify-start block w-full px-4 space-x-4' href="{% pageurl evaluation_page_index %}{{user_evaluation.pk}}" style="min-height: 3rem;">
			{% include 'includes/employee_profile.html' with size=30 employee=user_evaluation.employee %}
			<h1 style='color:#007bff'>{{user_evaluation.employee}}</h1>
		</a>
	</td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' href=" {% pageurl evaluation_page_index %}{{user_evaluation.pk}}">{{user_evaluation.employee.address}}</a></td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' href=" {% pageurl evaluation_page_index %}{{user_evaluation.pk}}">{{user_evaluation.employee.position}}</a></td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' href=' {% pageurl evaluation_page_index %}{{user_evaluation.pk}}'>+63{{user_evaluation.employee.contact_number}}</a></td>
	
	<td class="p-0 font-sans text-sm font-semibold text-green">
	  <a
		class="flex flex-col justify-center block w-full h-12 px-4"
		href="{% pageurl evaluation_page_index %}{{user_evaluation.pk}}"
		>Done Evaluating</a
	  >
	</td>
	{% else %}
	
		
	<td class="p-0 font-sans font-semibold text-gray">
		<a class='flex items-center justify-start block w-full px-4 space-x-4' style="min-height: 3rem; cursor: not-allowed">
			{% include 'includes/employee_profile.html' with size=30 employee=user_evaluation.employee %}
			<h1 style='color:#007bff'>{{user_evaluation.employee}}</h1>
		</a>
	</td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' style="cursor: not-allowed" >{{user_evaluation.employee.address}}</a></td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' style="cursor: not-allowed" >{{user_evaluation.employee.position}}</a></td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' style="cursor: not-allowed" >+63{{user_evaluation.employee.contact_number}}</a></td>
	

	<td class="p-0 font-sans text-sm font-semibold text-gray">
	  <a
		class="flex flex-col justify-center block w-full h-12 px-4"
		style="cursor: not-allowed"
		>No Evaluation</a
	  >
	</td>
	{% endif %}
</tr>
{% endfor %}