
{% load static wagtailimages_tags %}

{% for client in clients %}
	<tr class="table-bottom-border hover:bg-gray-100">
		
		<td class="p-0 font-sans font-semibold text-gray">
			<a class='flex items-center justify-start block w-full px-4 space-x-4' href="{{client.pk}}"  style="min-height: 3rem;">
				{% image client.profile_pic original as client_pic %}
				<img id='client-profile-pic' src="{{client_pic.url}}"  style= 'object-fit: contain; width: 45px; height: 45px; '  >
				<div>
					<h1 id='client-name' style='color:#E67E22'>{{client}}</h1>
					<h2 class="font-sans text-gray-400" style="font-size: 0.6rem;">
						{{client.user.username}}
					</h2>
				</div>
			</a>
		</td>
		<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' href="{{client.pk}}">{{client.address}}</a></td>
		<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' href='{{client.pk}}'>+63{{client.contact_number}}</a></td>
		<td class="p-0 font-sans text-sm text-gray">
			<button data-client-pk="{{client.pk}}" data-client_name='{{client}}'  onclick="dialog_button_trigger(this)" data-employee_name='{{employee}}' class="flex items-center justify-center py-1 space-x-1 font-sans font-semibold text-white rounded-full" style="background-color: #E67E22; padding-left: 10px; padding-right: 10px;">
				<h1 class="font-sans text-xs">Assign Client</h1>
			</button>
		</td>
	</tr>
{% endfor %}