

{% extends 'base.html'%}

{% load static wagtailcore_tags wagtailimages_tags %}


{% block head_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loading_bar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}


{% block style %}

<style>
.employee-profile{
	width: 40px; 
	height: 40px;
}
.overview-text{
	font-size: 0.60rem;
	line-height: 1rem;
}
@media (min-width: 1024px) { 

.employee-profile{
	width: 80px; 
	height: 80px;
}
.overview-text{
	font-size: 1.125rem;
	line-height: 1.75rem;
}
}

</style>

{% endblock %}

{% block header %}
{% include 'includes/header.html' with user_model=request.user.hradmin title='Assign Employee' %}
{% endblock %}

{% block side_menu %}
  {% include 'includes/side_menu.html' with current_menu='assign-employee' %}
{% endblock %}

{% block content %}

<section class="container flex flex-col items-start justify-start h-full mx-auto" >
	<table >
		<thead>
			<td class="font-sans font-semibold text-gray">
				<div>
					Name/ID <i class="cursor-pointer fas fa-sort" data-field-name='first_name'></i> 
				</div>
				<div class="flex items-center px-1 border border-gray-300 rounded ">
					<img src='{% static "img/icons/search.png" %}' width="18">
					<input id='search-input-name' autocomplete="off" class='w-full px-2 focus:outline-none bg-color-transparent '>
				</div>
			
			</td>
			<td class="font-sans font-semibold text-gray ">
				<div>
					Address <i class="cursor-pointer fas fa-sort" data-field-name='address'></i> 
				</div>
				<div class="flex items-center px-1 border border-gray-300 rounded ">
					<img src='{% static "img/icons/search.png" %}' width="18">
					<input id='search-input-address' autocomplete="off" class='w-full px-2 focus:outline-none bg-color-transparent '>
				</div>
			
			</td>
			<td class="font-sans font-semibold text-gray ">
				<div>
					Position <i class="cursor-pointer fas fa-sort" data-field-name='position'></i> 
				</div>
				<div class="flex items-center px-1 border border-gray-300 rounded ">
					<img src='{% static "img/icons/search.png" %}' width="18">
					<input id='search-input-position' autocomplete="off" class='w-full px-2 focus:outline-none bg-color-transparent '>
				</div>
			
			</td>
			<td class="font-sans font-semibold text-gray">
				<div>
					Contact Number <i class="cursor-pointer fas fa-sort" data-field-name='contact_number'></i> 
				</div>
				<div class="flex items-center px-1 border border-gray-300 rounded ">
					<img src='{% static "img/icons/search.png" %}' width="18">
					<input id='search-input-contact-number' autocomplete="off" data-url='search' class='w-full px-2 focus:outline-none bg-color-transparent '>
				</div>
			
			</td>
			<td class='w-36'>
			</td>
		</thead>
		<tbody id="employee-list-container" >
		</tbody>
	</table>
	<div id='container-page-indicator' class="flex items-end justify-center flex-1 hidden w-full py-4">
		<div class="flex items-center justify-center">
			<i id='back-button' class="px-2 py-1 cursor-pointer select-none fas fa-angle-left hover:bg-gray-200"></i>
			<div id='pages-indicator' class="flex items-center justify-center ">
			</div>
			<i id='next-button' class="px-2 py-1 cursor-pointer select-none fas fa-angle-right hover:bg-gray-200"></i>
		</div>
	</div>
</section>
{% endblock %}

{% block scripts %}
<script>
	let current_page = 1
	let current_sort = null
	let previous_page = null
	let next_page = null
    let container = $('#employee-list-container')
</script>
<script src="{% static 'js/employee_list_page.js' %}"></script>
<script src="{% static 'js/employee_search.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}