{% extends 'base.html'%}
{% load static wagtailimages_tags wagtailcore_tags %}


{% block header %}
{% include 'includes/header_latest.html' with user_model=request.user.hradmin title='Clients' search=True %}
{% endblock %}

{% block side_bard %}
  {% include 'includes/side_menu.html' with current_menu='clients' %}
{% endblock %}

{% block head_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loading_bar.css' %}">
{% endblock %}

{% block content %}
<section class="container p-6 mx-auto space-y-6 ">
	<div id='client-list-container' class="flex flex-wrap p-4 ">
		{% include 'includes/loading_bar.html' %}

	</div>
</section>
{% endblock %}

{% block scripts %}
<script>
	let csrf_token = '{{csrf_token}}'
	let filter_query = '{{filter_query}}'
</script>
<script src="{% static 'js/client_list_page.js' %}"></script>
<script src="{% static 'js/client_search.js' %}"></script>
{% endblock %}