{% extends 'base.html'%}

{% load static wagtailimages_tags %}


{% block header %}
	{% include 'includes/header.html' with user_model=request.user.hradmin employee=True menu_text='All' %}
{% endblock header %}

{% block content %}

<section class="container flex flex-wrap flex-1 mx-auto" style="padding-top: 120px;">

	{% for employee in employees %}

		{% if employee.status == 'none' %}
		
		<a href='employee-details-page/{{employee.pk}}' class="flex flex-col items-center justify-center mb-10 mr-16 space-y-4 bg-white rounded-3xl" style="width: 28rem; height: 22rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
			
			<div class="flex justify-center space-x-4">
				{% image employee.profile_pic fill-150x150 as profile_pic %}
				<img src='{{profile_pic.url}}' class="rounded-full" width="200">
				<!-- <div class="flex items-center flex-1 ">
					<img src='{{profile_pic.url}}' width="100%" >
				</div> -->
			</div>
			
			<div>
				<h1 class="font-sans text-5xl font-bold text-center" style="color: #616161;">
					{{employee.first_name}} {{employee.last_name}}
				</h1>
				
				<h2 class="font-sans text-2xl font-semibold text-center" style="color: #979797;">
					{{employee.position}}
				</h2>
			</div>
		</a>

		{% elif employee.status == 'on evaluation' %}

		<div  class="relative mb-10 mr-16 bg-white rounded-3xl" style="width: 28rem; height: 22rem; box-shadow: 0 4px 8px 0 rgb(255, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
			
			<a href="#" class="absolute right-0 p-2">
				<img src='{% static "img/icons/notify.png" %}'>
			</a>
			
			<a href='employee-details-page/{{employee.pk}}' class="flex flex-col items-center justify-center h-full ">
				<div class="flex justify-center space-x-4">
					{% image employee.profile_pic fill-150x150 as profile_pic %}
					<img src='{{profile_pic.url}}' class="rounded-full" width="200">
					<!-- <div class="flex items-center flex-1 ">
						<img src='{{profile_pic.url}}' width="100%" >
					</div> -->
				</div>
				
				<div>
					<h1 class="font-sans text-5xl font-bold text-center" style="color: #616161;">
						{{employee.first_name}} {{employee.last_name}}
					</h1>
					
					<h2 class="font-sans text-2xl font-semibold text-center" style="color: #979797;">
						{{employee.position}}
					</h2>
				</div>
			</a>
		</div>

		{% elif employee.status == 'evaluated' %}
		
		<div  class="relative mb-10 mr-16 bg-white rounded-3xl" style="width: 28rem; height: 22rem; box-shadow: 0 4px 8px 0 rgb(8, 162, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
			
			<a href="#" class="absolute right-0 p-2">
				<img src='{% static "img/icons/notify.png" %}'>
			</a>
			
			<a href='employee-details-page/{{employee.pk}}' class="flex flex-col items-center justify-center h-full ">
				<div class="flex justify-center space-x-4">
					{% image employee.profile_pic fill-150x150 as profile_pic %}
					<img src='{{profile_pic.url}}' class="rounded-full" width="200">
					<!-- <div class="flex items-center flex-1 ">
						<img src='{{profile_pic.url}}' width="100%" >
					</div> -->
				</div>
				
				<div>
					<h1 class="font-sans text-5xl font-bold text-center" style="color: #616161;">
						{{employee.first_name}} {{employee.last_name}}
					</h1>
					
					<h2 class="font-sans text-2xl font-semibold text-center" style="color: #979797;">
						{{employee.position}}
					</h2>
				</div>
			</a>
		</div>

		{% endif %}


	{% endfor %}
		
</section>

{% endblock %}
