{% extends 'base.html'%}
{% load wagtailimages_tags static forloop_tags wagtailcore_tags  %}


{% block header %}
	{% include 'includes/header.html' with user_model=request.user.hradmin employee_model=employee menu_text='Details' %}
{% endblock %}

{% block style %} 

<style>
	.passion-for-excelence{
		height: 890px;
	}
	.passion-for-excelence__body{
		height: 60%;
	}
	.bottom_container{
		height: 40%;
	}
	@media (min-width: 1024px) { 
		
	.passion-for-excelence{
		height: 690px;
	}
	.passion-for-excelence__body{
		height: 60%;
	}
	.bottom_container{
		height: 40%;
	}

	}
</style>


{% endblock %}

{% block content %}

<section class="container flex-col items-center flex-1 mx-auto lg:h-screen lg:flex lg:items-start lg:space-x-4 lg:flex-row" style="padding-top: 100px;">
	<div class='flex flex-col px-4 space-y-4 lg:px-0 lg:py-4 lg:w-3/5 passion-for-excelence'>
		<div class="w-full bg-white lg:flex passion-for-excelence__body" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);"> 
			<div class="flex items-center px-4 py-4 lg:w-3/5" >
				<canvas id="bar-chart" height="220" data-url='/data_chart/{{categories.0.pk}}/{{employee_id}}' ></canvas>
			</div>
			<div class='flex flex-col justify-center px-4 py-6 space-y-4 lg:w-2/5'>
				<h1 class="font-sans text-xl font-bold text-center lg:text-4xl" style="color: #939393;">{{categories.0}}</h1>
				
				<div class="flex-1 space-y-4">
					<table class="w-full">
						<tr class="font-sans text-lg " style="color: #AEAEAE;">
							<th class="pb-2 text-left">
								Client
							</th>
							<th class="pb-2 text-left">
								Performance
							</th>
						</tr>
	
						<tbody id="bar-chart-tbody">
							
						</tbody>
						
	
					</table>
	
					<div class="flex flex-row items-center justify-center space-x-8 " style="color: #5785DE;">
						<div class="flex-1 text-center">
							<button id='back-btn-bar' class="hidden">
								<h1 class="font-bold text-md">Back</h1>
							</button>	
						</div>
						<div id='page-number-bar' class="font-bold text-md">1</div>
						<div class="flex-1 text-center">
							<button id='next-btn-bar'>
								<h1 class="font-bold text-md">Next</h1>
							</button>
						</div>
	
					</div>

				</div>
				
			</div>
		</div>

		<div class="flex py-2 space-y-4 lg:py-0 lg:space-y-0 lg:space-x-4 lg:flex-row bottom_container" >
			
			<div class="flex flex-col flex-1 px-4 bg-white py-4 " style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);"> 
				<h1 class="font-sans text-xl font-bold text-center lg:text-3xl" style="color: #939393;">{{categories.2}}</h1>
				<div class='flex flex-col items-center justify-center h-full'>
					<div style="position: relative; height: 100px; width: 90%" >
						<canvas id="line-chart-quality-of-work" data-url='/data_chart/{{categories.2.pk}}/{{employee_id}}'></canvas>
					</div>
					

					<div class="flex flex-row items-center justify-center space-x-8 " style="color: #5785DE;">
						<div class="flex-1 text-center">
							<button id='back-btn-quality-of-work' class="hidden">
								<h1 class="font-bold text-md">Back</h1>
							</button>	
						</div>
						<div id='page-number-quality-of-work' class="font-bold text-md">1</div>
						<div class="flex-1 text-center">
							<button id='next-btn-quality-of-work'>
								<h1 class="font-bold text-md">Next</h1>
							</button>
						</div>

					</div>

				</div>

				
			</div>


			<div class="flex flex-col py-4 px-4 bg-white flex-1" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);"> 
				<h1 class="font-sans text-xl font-bold text-center lg:text-3xl" style="color: #939393;">{{categories.4}}</h1>

				<div class='flex flex-col items-center justify-center h-full '>
					<div style="position: relative; height: 100px; width: 90%" >
						<canvas id="line-chart-initiative" data-url='/data_chart/{{categories.4.pk}}/{{employee_id}}' ></canvas>
					</div>
					
					<div class="flex flex-row items-center justify-center space-x-8 " style="color: #5785DE;">
						<div class="flex-1 text-center">
							<button id='back-btn-initiative' class="hidden">
								<h1 class="font-bold text-md">Back</h1>
							</button>	
						</div>
						<div id='page-number-initiative' class="font-bold text-md">1</div>
						<div class="flex-1 text-center">
							<button id='next-btn-initiative'>
								<h1 class="font-bold text-md">Next</h1>
							</button>
						</div>

					</div>
				</div>
				

			</div>

		</div>

	</div>	

	
	<div class="flex-col px-4 py-4 space-y-4 lg:flex lg:space-x-6 lg:flex-row lg:w-2/5 lg:px-0 lg:space-y-0" style="height: 690px;">
		<div class="flex flex-col flex-1 w-full h-full space-y-4 " > 

			
			<div class='px-4 py-2 space-y-2 bg-white' style="height: 60%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
				<h1 class="font-sans text-xl font-bold text-center lg:text-3xl" style="color: #939393;">{{categories.6}}</h1>
					<div style="height: 170px; position: relative;">
						<canvas id="polar-area-chart" style="width: 100%;" data-url='/data_chart/{{categories.6.pk}}/{{employee_id}}' ></canvas>
					</div>
				
				<table class="w-full ">
					
					<tbody id="polar-chart-tbody">
							
					</tbody>

				</table>
				
				<div class="flex flex-row items-center justify-center space-x-8 " style="color: #5785DE;">
					<div class="flex-1 text-center">
						<button id='back-btn-polar' class="hidden">
							<h1 class="font-bold text-md">Back</h1>
						</button>	
					</div>
					<div id='page-number-polar' class="font-bold text-md">1</div>
					<div class="flex-1 text-center">
						<button id='next-btn-polar'>
							<h1 class="font-bold text-md">Next</h1>
						</button>
					</div>

				</div>

			</div>

			<div class='px-2 py-2 space-y-2 bg-white' style="height: 40%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
				<h1 class="font-sans text-xl font-bold text-center lg:text-3xl" style="color: #939393;">{{categories.1}}</h1>
				<div style="height: 100px; position: relative;">
					<canvas id="pie-chart" style="width: 100%;" data-url='/data_chart/{{categories.1.pk}}/{{employee_id}}'></canvas>
				</div>

				<div class=" space-x-2">
					<table class="w-full">

						<tbody id="pie-chart-tbody" class="flex flex-wrap w-full ">
	
							<tr class="font-sans text-lg flex flex-1" style="color: #626262;">
								<td class="flex items-center space-x-2">
									<div class="w-4 h-4 bg-gray-700" style="{{0 | gradient_bg}}"></div>
									<h3 class="font-normal">Glo…</h3>
								</td> 
	
								<td class='font-sans font-bold text-center' style='color: #079E1F;'>
									90%
								</td>
							
							</tr>
	
							
						</tbody>	

					</table>


				</div>
				
				

				<div class="flex flex-row items-center justify-center space-x-8 " style="color: #5785DE;">
					<div class="flex-1 text-center">
						<button id='back-btn-pie' class="hidden">
							<h1 class="font-bold text-md">Back</h1>
						</button>	
					</div>
					<div id='page-number-pie' class="font-bold text-md">1</div>
					<div class="flex-1 text-center">
						<button id='next-btn-pie'>
							<h1 class="font-bold text-md">Next</h1>
						</button>
					</div>

				</div>
			</div>

		</div>

		<div class="flex flex-col flex-1 h-full space-y-4" > 
			
			<div class='flex flex-col justify-center flex-1 px-4 py-2 space-y-2 bg-white' style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
				<h1 class="font-sans text-xl font-bold text-center lg:text-3xl" style="color: #939393;">{{categories.5}}</h1>
				
				<div style="height: 100px; position: relative; width: 100%;">
					<canvas id="doughnut-chart" style="width: 100%;"  data-url='/data_chart/{{categories.5.pk}}/{{employee_id}}'></canvas>
				</div>
				<table>
					
					<tbody id="doughnut-chart-tbody">
							
					</tbody>

				</table>
				



				<div class="flex flex-row items-center justify-center space-x-8 " style="color: #5785DE;">
					<div class="flex-1 text-center">
						<button id='back-btn-doughnut' class="hidden">
							<h1 class="font-bold text-md">Back</h1>
						</button>	
					</div>
					<div id='page-number-doughnut' class="font-bold text-md">1</div>
					<div class="flex-1 text-center">
						<button id='next-btn-doughnut'>
							<h1 class="font-bold text-md">Next</h1>
						</button>
					</div>

				</div>
			</div>

			<div class='flex-1 p-4 bg-white' style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
				<h1 class="font-sans text-xl font-bold text-center lg:text-3xl" style="color: #939393;">{{categories.3}}</h1>
				
				<div style="position: relative; height: 230px;">
					<canvas id="radar-chart" style="width: 100%;" data-url='/data_chart/{{categories.3.pk}}/{{employee_id}}'></canvas>
				</div>
				
				
				<div class="flex flex-row items-center justify-center space-x-8 " style="color: #5785DE;">
					<div class="flex-1 text-center">
						<button id='back-btn-radar' class="hidden">
							<h1 class="font-bold text-md">Back</h1>
						</button>	
					</div>
					<div id='page-number-radar' class="font-bold text-md">1</div>
					<div class="flex-1 text-center">
						<button id='next-btn-radar'>
							<h1 class="font-bold text-md">Next</h1>
						</button>
					</div>

				</div>

			</div>



		</div>

	</div>


</section>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/bar_chart.js' %}"></script>
<script src="{% static 'js/radar_chart.js' %}"></script>
<script src="{% static 'js/polar_area_chart.js' %}"></script>
<script src="{% static 'js/pie_chart.js' %}"></script>
<script src="{% static 'js/doughnut_chart.js' %}"></script>
<script src="{% static 'js/line_chart.js' %}"></script>
{% endblock %}