{% extends 'base.html'%}
{% load static wagtailimages_tags wagtailcore_tags %}


{% block header %}
	{% include 'includes/header.html' with user_model=request.user.hradmin employee_model=employee menu_text='Clients' %}
{% endblock %}


{% block head_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loading_bar.css' %}">
{% endblock %}

{% block content %}

<section class="container flex-1 mx-auto space-y-10 starting-padding-top">
	{% if latest_evaluation  %}
	<div class="flex " style="height: 400px;">
		{% if latest_evaluation.submit_date  %}
		<div class="relative bg-white rounded-3xl shadow-box-green hover-card" style="width: 50%; height: 100%; ">
			<a href="{{latest_evaluation.pk}}" class="flex flex-col h-full py-6">	
				<div class="flex justify-center flex-1 py-2 space-x-4 ">
					{% image latest_evaluation.client.profile_pic original as profile_pic %}
					<img src='{{profile_pic.url}}' style= 'object-fit: contain; width: 90%; height: 300px;'>
				</div>
				
				<div>
					<h1 class="font-sans text-4xl text-center" style="color: #616161;">
						{{latest_evaluation.client.company}}
					</h1>
				</div>
			</a>
		</div>
		{% else %}
		<div class="relative bg-white rounded-3xl shadow-box-red hover-card" style="width: 50%; height: 100%; ">
			<a href="{{latest_evaluation.pk}}" class="flex flex-col h-full py-6">
				<div class="flex items-center justify-center flex-1 py-2 space-x-4 ">
					{% image latest_evaluation.client.profile_pic original as profile_pic %}
					<img src='{{profile_pic.url}}' style= 'object-fit: contain; width: 90%; height: 300px;'>
				</div>
				
				<div>
					<h1 class="font-sans text-4xl text-center" style="color: #616161;">
						{{latest_evaluation.client.company}}
					</h1>
				</div>
			</a>
		</div>
		{% endif %}
		<div class="flex-1 p-6">
			<h1 class="font-sans text-3xl font-extrabold text-gray">Current Client</h1>
			<div class="py-2">
				<div class="flex space-x-2 font-sans text-xl text-gray">
					<h1 class="font-bold">Client Name: </h1>
					<h2 class="font-semibold">{{latest_evaluation.client.company}}</h2>
				</div>
				<div class="flex space-x-2 font-sans text-xl text-gray">
					<h1 class="font-bold">Date Assigned: </h1>
					<h2 class="font-semibold">{{latest_evaluation.assigned_date}}</h2>
				</div>
			</div>
			<div class="py-2 ">
				<h1 class="inline-block font-sans text-3xl font-extrabold text-gray">Evaluation Status </h1>
				<h2 class="inline-block font-sans text-xl font-bold text-gray">
					(Waiting for Evaluation)
				</h2>

				<div class="py-2 overflow-y-auto"  style="height: 200px;"> 
					<div class="flex">
						<div class="flex-1">
							{% for category in categories %}
								<h2 class="flex-1 font-sans text-xl font-bold text-gray"> {{category}}</h2>
							{% endfor %}
						</div>
						
						<div class="flex flex-col items-end flex-1">
							{% for category_percentage in category_percentages %}
							{% if category_percentage == 0 %}
							<h1 class="font-sans text-2xl font-bold text-blue">WAITING FOR EVALUATION</h1>
							{% elif category_percentage < 50 %}
							<h1 class="font-sans text-2xl font-bold text-red">{{category_percentage | floatformat:1}}%</h1>
							{% elif category_percentage < 75 %}
							<h1 class="font-sans text-2xl font-bold text-orange">{{category_percentage | floatformat:1}}%</h1>
							{% else %}
							<h1 class="font-sans text-2xl font-bold text-green">{{category_percentage | floatformat:1}}%</h1>
							{% endif %}
							{% endfor %}
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
	{% else %}
	<h1 class="font-sans text-2xl font-bold text-gray">No Assign client for this employee</h1>
	{% endif %}

	<div id="client-list-container" class="px-2 py-6 space-x-7 whitespace-nowrap" style="height: 270px; width: 100%; overflow-x: scroll;">
		{% include 'includes/loading_bar.html' %}
	</div>
		
</section>

{% endblock %}

{% block scripts %}
<script>
	let csrf_token = '{{csrf_token}}'
	let filter_query = '{{filter_query}}'
	let employee_id = '{{employee_id}}'
	let latest_evaluation_id = '{{latest_evaluation.pk}}'
</script>
<script src="{% static 'js/client_search_specified.js' %}"></script>
{% endblock %}