{% extends 'base.html'%}

{% load static wagtailimages_tags %}


{% block header %}
	{% include 'includes/header.html' with user_model=request.user.hradmin employee=True menu_text='All' %}
{% endblock header %}

{% block head_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loading_bar.css' %}">
{% endblock %}

{% block content %}
<section id='employee-list-container' class="container flex flex-wrap flex-1 mx-auto starting-padding-top"> 
	{% include 'includes/loading_bar.html' %}
</section>

{% endblock %}

{% block scripts %}
<script>
	let filter_query = '{{filter_query}}'
	let user_filter = '{{user_filter}}'
	let user_filter_exclude = '{{user_filter_exclude}}'
</script>
<script src="{% static 'js/employee_list_page.js' %}"></script>
{% endblock %}