

{% extends 'base.html'%}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}
	flex
	flex-col
	h-screen
{% endblock %}

{% block header %}
	{% include 'includes/header.html' with user_model=request.user.hradmin title='DASHBOARD' menu_text='Dashboard' %}
{% endblock %}

{% block content %}

<section class="container flex flex-col flex-1 mx-auto space-y-4" style="padding-top: 120px;">
	<div class=" h-44 flex space-x-4" >
		<div class="bg-white flex-1 p-4" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
			<h1 class="text-3xl font-sans font-bold" style="color: #ACACAC;">Evaluated</h1>
			<div class="flex">
				<a class="flex flex-1" href="{% pageurl employee_list_index %}">
					<img src="{% static 'img/icons/employee.png'%}" width="160" >
					<div class="flex flex-col justify-center" style="color: #BABABA;">
						<h2 class="text-xl font-sans font-semibold">Employee</h2>
						<h1 class="text-4xl font-sans font-bold">{{evaluated_employee}}</h1>
					</div>

				</a>
				<a class="flex flex-1" href="{% pageurl client_list_index %}">
					<img src="{% static 'img/icons/client.png'%}" width="160" >
					<div class="flex flex-col justify-center" style="color: #BABABA;">
						<h2 class="text-xl font-sans font-semibold">Client</h2>
						<h1 class="text-4xl font-sans font-bold">{{evaluated_client}}</h1>
					</div>

				</a>

			</div>

		</div>

		<div class="bg-white flex-1 p-4" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
			<h1 class="text-3xl font-sans font-bold" style="color: #ACACAC;">On Evaluation</h1>
			<div class="flex">
				<a class="flex flex-1" href="{% pageurl employee_list_index %}">
					<img src="{% static 'img/icons/employee.png'%}" width="160" >
					<div class="flex flex-col justify-center" style="color: #BABABA;">
						<h2 class="text-xl font-sans font-semibold">Employee</h2>
						<h1 class="text-4xl font-sans font-bold">{{on_evaluation_employee}}</h1>
					</div>

				</a>
				<a class="flex flex-1" href="{% pageurl client_list_index %}">
					<img src="{% static 'img/icons/client.png'%}" width="160" >
					<div class="flex flex-col justify-center" style="color: #BABABA;">
						<h2 class="text-xl font-sans font-semibold">Client</h2>
						<h1 class="text-4xl font-sans font-bold">{{on_evaluation_client}}</h1>
					</div>

				</a>

			</div>
		</div>

	</div>

	<div class="bg-white p-4 space-y-4" style="height: 500px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.044);">
		<h1 class="text-3xl font-sans font-bold" style="color: #ACACAC;">Recently Evaluated</h1>
		<div class=" flex items-center justify-center">
			<div id='recent_evaluations' class="flex flex-wrap" style="width: 95%;">


				

			</div>

		</div>
		

	</div>
</section>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/recent_evaluated.js' %}"></script>
{% endblock %}