{% extends 'base.html'%}
{% load wagtailimages_tags static %}

{% block body_class %}
	flex
	flex-col
	h-screen
{% endblock %}

{% block header %}
	{% include 'includes/header.html' with user_model=request.user.hradmin employee_model=employee menu_text='Pick a client' %}
	<div class="notify "style="z-index: 2000;"><span id="notifyType" class="" ></span></div>  
{% endblock %}

{% block head_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/evaluation_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">

{% endblock %}

{% block content %}

<section class="container flex-1 mx-auto space-y-10" style="padding-top: 120px;">
	<h1 class="font-sans text-4xl font-bold text-center" style="color: #EF8767; letter-spacing: 0.2em;">PICK A CLIENT</h1>
	<div id='pick-client-container' class="flex flex-wrap "></div>
</section>

{% endblock %}

{% block scripts %}
<script>
	let submit_success = '{{submit_success}}'
	let employee_id = '{{employee_id}}'
</script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/pick_client_search.js' %}"></script>
{% endblock %}