{% extends 'base.html'%}
{% load wagtailimages_tags static %}

{% block body_class %}
	flex
	flex-col
	h-screen
{% endblock %}

{% block header %}
	{% include 'includes/header.html' with user_model=request.user.hradmin employee_model=employee menu_text='Pick a client' %}
	<div class="notify "style="z-index: 4000;"><span id="notifyType" class="" ></span></div>  
{% endblock %}

{% block head_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/evaluation_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dialog.css' %}">

{% endblock %}

{% block content %}
	
<div id="dialog_id" class="dialog">
	<div class="dialog-content">
		<div class="px-2 pt-2">
			<h1 class="font-sans text-lg italic font-semibold text-gray ">*client you will be assigning</h1>
			<div >
				<div class="flex flex-col items-center justify-center">
					<img id='client-pic-dialog'  src='' style= 'object-fit: contain; width: 100px; height: 100px; '>
					<h1 id="client-name-dialog" class="font-sans text-xl font-bold text-gray">das</h1>
				</div>
			</div>
		</div>


		<div class="p-2 m-4 border-t-2 border-l-2 border-r-2 border-gray">
			<h1 class="font-sans text-sm italic font-semibold text-gray">*dont forget to type project assign.</h1>
			<div class="flex flex-col items-center py-4">
				{% image employee.profile_pic fill-60x60 as profile_pic %}
				<img src='{{profile_pic.url}}' style= 'object-fit: contain; width: 60px; height: 60px;' class="rounded-full">
				<h2 class="px-2 font-sans text-lg font-bold text-gray">{{employee}}</h2>
				<h2 class="px-2 font-sans text-sm text-gray">{{employee.position}}</h2>
			</div>
			
			<h1 class="font-sans text-lg font-semibold text-gray">Project Assign: </h1>
			<textarea id='dialog-text-area' placeholder="Kindly indicate here..." style="width: 100%;" class="p-4 bg-gray-50"></textarea>
			<div class="flex items-center justify-around">
				<div id="assign-dialog" onclick="return check_project_assign()">
					<h1 class="font-sans font-extrabold text-green">Assign</h1>
				</div>
				<button onclick="close_dialog()">
					<h1 class="font-sans font-extrabold text-red">Cancel</h1>
				</button>

			</div>

		</div>
	</div>
</div>


<section class="container flex-1 mx-auto space-y-10 starting-padding-top" >
	
	<h1 class="font-sans text-4xl font-bold text-center" style="color: #EF8767; letter-spacing: 0.2em;">PICK A CLIENT</h1>
	<div id='pick-client-container' class="flex flex-wrap "></div>
	
	
</section>

{% endblock %}

{% block scripts %}
<script>
	let csrf_token = '{{csrf_token}}'
	let submit_success = '{{submit_success}}'
	let employee_id = '{{employee_id}}'
</script>
<script src="{% static 'js/dialog.js' %}"></script>
<script src="{% static 'js/pick_client_search.js' %}"></script>
{% endblock %}