{% load static wagtailimages_tags forloop_tags static tz wagtailsettings_tags notification_tags %} 
{% for employee in employees %}
<tr class="table-bottom-border hover:bg-gray-100">
  <td class="p-0 font-sans font-semibold text-gray">
    <a
      class="flex items-center justify-start block w-full px-4 space-x-4"
      href="{{employee_details_index}}{{employee.pk}}"
      style="min-height: 3rem"
    >
      {% include 'includes/employee_profile.html' with size=30 %}
      
      <div>
        <h1 style="color: #007bff">{{employee}}</h1>
        <h2 class="font-sans text-gray-400" style="font-size: 0.6rem">
          {{employee.user.username}}
        </h2>
      </div>
    </a>
  </td>
  <td class="p-0 font-sans text-sm text-gray">
    <a
      class="flex flex-col justify-center block w-full h-12 px-4"
      href="{{employee_details_index}}{{employee.pk}}"
      >{{employee.address}}</a
    >
  </td>
  <td class="p-0 font-sans text-sm text-gray">
    <a
      class="flex flex-col justify-center block w-full h-12 px-4"
      href="{{employee_details_index}}{{employee.pk}}"
      >{{employee.position}}</a
    >
  </td>
  <td class="p-0 font-sans text-sm text-gray">
    <a
      class="flex flex-col justify-center block w-full h-12 px-4"
      href="{{employee_details_index}}{{employee.pk}}"
      >+63{{employee.contact_number}}</a
    >
  </td>
  <td class="flex flex-col items-center justify-center p-0 pt-3 space-y-1 font-sans text-sm text-gray">

      {% if employee.current_user_evaluation.submit_date == None and employee.current_user_evaluation.assigned_date != None  %}
        <button 
          onclick="notify_employee('{{employee.user.pk}}', this)"
          class="flex items-center justify-center py-1 space-x-1 font-sans font-semibold text-white rounded-full focus:outline-none "
          style="background-color: #007bff; padding-left: 10px; padding-right: 10px;"
        >
          <h1 class="font-sans text-xs">Notify Me</h1>
          <img src='{% static "img/icons/notifications-white.png"%}' />
        </button>
      {% else %}
          <button 
          disabled
          class="flex items-center justify-center py-1 space-x-1 font-sans font-semibold text-white rounded-full focus:outline-none "
          style="background-color: #007bff; padding-left: 10px; padding-right: 10px; opacity: 0.5; cursor: not-allowed"
        >
          <h1 class="font-sans text-xs">Notify Me</h1>
          <img src='{% static "img/icons/notifications-white.png"%}' />
        </button>
      {% endif %}


    {% if employee.current_user_evaluation.performance > 0 %}
    <button
      onclick="end_contract('{{employee.user.pk}}', this)"
      class="flex items-center justify-center py-1 ml-2 space-x-1 font-sans font-semibold text-white rounded-full focus:outline-none h-7"
      style="background-color: #c04d4d; padding-left: 10px; padding-right: 10px"
    >
      <h1 class="font-sans text-xs" >End Contract</h1>
    </button>
    {% endif %}
  
    {% get_latest_notif_date employee.user 'client-has-been-notify' as notif_date %}
    {% if notif_date %}
    <div>
      <h1 class="font-sans text-xs notification_text text-orange">Last notified {{notif_date | timezone:timezone | date:'N j, Y' }}</h1>
    </div>
    {% else %}
    <div>
      <h1 class="font-sans text-xs notification_text text-orange"></h1>
    </div>
    {% endif %}
  </td>
  {% check_status employee.current_user_evaluation as status %}
  {% if status == 'for-evaluation' %}
  <td class="p-0 font-sans text-sm font-semibold text-red">
    <a
      class="flex flex-col justify-center block w-full h-12 px-4"
      href="{{employee_details_index}}{{employee.pk}}"
      >
      <h1>For Evaluation</h1>
      
      {% check_if_time_exceed employee.current_user_evaluation as not_exceed %}
      {% if not_exceed %}
      <h2 class="text-xs text-orange">{{employee.current_user_evaluation | for_evaluation_filter | timezone:timezone | date:'( h:i A \o\f M d)'}}</h2>
      {% else %}
      
      {% get_settings use_default_site=True %}
      <h2 class="text-xs text-orange">( {{settings.base.RulesSettings.limit_message}} )</h2>
      {% endif %}
      </a>
  </td>
  {% elif status == 'done-evaluating'  %}
  <td class="p-0 font-sans text-sm font-semibold text-green">
    <a
      class="flex flex-col justify-center block w-full h-12 px-4"
      href="{{employee_details_index}}{{employee.pk}}"
      >Done Evaluating</a
    >
  </td>
  {% else %}
  <td class="p-0 font-sans text-sm font-semibold text-gray">
    <a
      class="flex flex-col justify-center block w-full h-12 px-4"
      href="{{employee_details_index}}{{employee.pk}}"
      >No Evaluation</a
    >
  </td>
  {% endif %}
</tr>
{% endfor %}