
{% load static wagtailimages_tags %}

{% for client in clients %}
	<tr class="table-bottom-border">
		<td class="font-sans font-semibold text-gray">
			<h1 style='color:#E67E22'>{{client}}</h1>
			<h2 class="font-sans text-gray-400" style="font-size: 0.6rem;">
				{{client.user.username}}
			</h2>
		</td>
		<td class="font-sans text-sm text-gray">{{client.address}}</td>
		<td class="font-sans text-sm text-gray">+63{{client.contact_number}}</td>
		<td class="font-sans text-sm text-gray">
			<button class="flex items-center justify-center py-1 space-x-1 font-sans font-semibold text-white rounded-full" style="background-color: #E67E22; padding-left: 10px; padding-right: 10px;">
				<h1>Notify Me</h1>
				<img src='{% static "img/icons/notifications-white.png"%}' >
			</button>
		</td>
		{% if client.status == 'on-evaluation' %}
		<td class="font-sans text-sm font-semibold text-red">On Evaluation</td>
		{% else %}
		<td class="font-sans text-sm font-semibold text-green">Done Evaluating</td>
		{% endif %}
	</tr>
{% endfor %}