
{% load static wagtailcore_tags wagtailimages_tags forloop_tags %}


{% for user_evaluation in user_evaluations %}
<tr class="table-bottom-border hover:bg-gray-100">
		
	<td class="p-0 font-sans font-semibold text-gray">
		<a class='flex items-center justify-start block w-full px-4 space-x-4' href="evaluated/{{user_evaluation.pk}}" style="min-height: 3rem;">
			{% include 'includes/employee_profile.html' with size=30 employee=user_evaluation.employee %}
			<div>
				<h1 style='color:#007bff'>{{user_evaluation.employee}}</h1>
				<h2 class="font-sans text-gray-400" style="font-size: 0.6rem;">
					{{user_evaluation.employee.user.username}}
				</h2>
			</div>
		</a>
	</td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' href="evaluated/{{user_evaluation.pk}}">{{user_evaluation.employee.address}}</a></td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' href="evaluated/{{user_evaluation.pk}}">{{user_evaluation.employee.position}}</a></td>
	<td class="p-0 font-sans text-sm text-gray"><a class='flex flex-col justify-center block w-full h-12 px-4' href='evaluated/{{user_evaluation.pk}}'>+63{{user_evaluation.employee.contact_number}}</a></td>
	<td class="p-0 font-sans text-sm text-gray">
		<button onclick="notify_client('{{client.user.pk}}')" class="flex items-center justify-center py-1 space-x-1 font-sans font-semibold text-white rounded-full" style="background-color: #007bff; padding-left: 10px; padding-right: 10px;">
			<h1 class="font-sans text-xs">Notitfy Me</h1>
			<img src='{% static "img/icons/notifications-white.png"%}' >
		</button>
	</td>
	{% check_status user_evaluation as status %}
	{% if status == 'for-evaluation' %}
	<td class="p-0 font-sans text-sm font-semibold text-red">
	  <a
		class="flex flex-col justify-center block w-full h-12 px-4"
		href="{{employee_details_index}}{{user_evaluation.employee.pk}}"
		>
		<h1>For Evaluation</h1>
		<h2 class="text-xs text-orange">{{user_evaluation | for_evaluation_filter | date:'( h:i A \o\f M d)'}}</h2>
		
		</a>
	</td>
	{% elif status == 'done-evaluating'  %}
	<td class="p-0 font-sans text-sm font-semibold text-green">
	  <a
		class="flex flex-col justify-center block w-full h-12 px-4"
		href="{{employee_details_index}}{{user_evaluation.employee.pk}}"
		>Done Evaluating</a
	  >
	</td>
	{% else %}
	<td class="p-0 font-sans text-sm font-semibold text-gray">
	  <a
		class="flex flex-col justify-center block w-full h-12 px-4"
		href="{{employee_details_index}}{{user_evaluation.employee.pk}}"
		>No Evaluation</a
	  >
	</td>
	{% endif %}
</tr>
{% endfor %}