{% extends 'base.html'%}

{% block body_class %}
	flex
	flex-col
	h-screen
{% endblock %}

{% block content %}
	<section class="mx-auto flex-1 flex flex-col space-y-4 container">
		
		<div class="flex justify-center items-center space-x-4">
			<div class="w-32 h-32 bg-primary rounded-full"></div>

			<div class="leading-4">
				<h1 class="font-sans text-3xl font-bold">John Smith</h1>
				<h2>Human Resource</h2>
			</div>
		</div>

		<div class="flex flex-col flex-1 space-y-2">
			<h1 class="font-sans text-4xl font-bold">Employee</h1>
			<div class="flex items-center relative ">
				<div >
					<a><h3 class="text-xl text-gray-600 mx-4">Employee</h3></a>
					<hr style='border-top: 6px solid black'>
				</div>
				<div class="flex-1">
					<a><h3 class="text-xl text-gray-600 mx-4 ">Clients</h3></a>
					<hr style='border-top: 2px solid rgb(71, 71, 71)'>
				</div>
				<input class="absolute px-2" style="right: 0; top: 35%;padding-top: 3px; padding-bottom: 3px; border: 1px solid black; border-radius: 40px" placeholder="Search">
			</div>

			<div class="flex-1 pt-4 flex items-start justify-center flex-wrap">
				
				<div class=" py-8 w-52 flex flex-col justify-center items-center leading-4 mr-4 mb-4" style="border: 1px solid black;">
					<div class="w-24 h-24 bg-primary rounded-full"></div>
					
					<div>
						<h1 class="text-2xl font-bold">Elon Musk</h1>
						<h2 class="text-center">IT Assistant</h2>
	
						<div style="border: 1px solid black; padding-top: 2px; padding-bottom: 2px;" class="mt-8">
							<h2 class="text-center">View Details</h2>
						</div>
					</div>
				</div>


				<div class=" py-8 w-52 flex flex-col justify-center items-center leading-4 mr-4 mb-4" style="border: 1px solid black;">
					<div class="w-24 h-24 bg-primary rounded-full"></div>
					
					<div>
						<h1 class="text-2xl font-bold">Elon Musk</h1>
						<h2 class="text-center">IT Assistant</h2>
	
						<div style="border: 1px solid black; padding-top: 2px; padding-bottom: 2px;" class="mt-8">
							<h2 class="text-center">View Details</h2>
						</div>
					</div>
				</div>


				<div class=" py-8 w-52 flex flex-col justify-center items-center leading-4 mr-4 mb-4" style="border: 1px solid black;">
					<div class="w-24 h-24 bg-primary rounded-full"></div>
					
					<div>
						<h1 class="text-2xl font-bold">Elon Musk</h1>
						<h2 class="text-center">IT Assistant</h2>
	
						<div style="border: 1px solid black; padding-top: 2px; padding-bottom: 2px;" class="mt-8">
							<h2 class="text-center">View Details</h2>
						</div>
					</div>
				</div>


				<div class=" py-8 w-52 flex flex-col justify-center items-center leading-4 mr-4 mb-4" style="border: 1px solid black;">
					<div class="w-24 h-24 bg-primary rounded-full"></div>
					
					<div>
						<h1 class="text-2xl font-bold">Elon Musk</h1>
						<h2 class="text-center">IT Assistant</h2>
	
						<div style="border: 1px solid black; padding-top: 2px; padding-bottom: 2px;" class="mt-8">
							<h2 class="text-center">View Details</h2>
						</div>
					</div>
				</div>


				<div class=" py-8 w-52 flex flex-col justify-center items-center leading-4 mr-4 mb-4" style="border: 1px solid black;">
					<div class="w-24 h-24 bg-primary rounded-full"></div>
					
					<div>
						<h1 class="text-2xl font-bold">Elon Musk</h1>
						<h2 class="text-center">IT Assistant</h2>
	
						<div style="border: 1px solid black; padding-top: 2px; padding-bottom: 2px;" class="mt-8">
							<h2 class="text-center">View Details</h2>
						</div>
					</div>
				</div>


				<div class=" py-8 w-52 flex flex-col justify-center items-center leading-4 mr-4 mb-4" style="border: 1px solid black;">
					<div class="w-24 h-24 bg-primary rounded-full"></div>
					
					<div>
						<h1 class="text-2xl font-bold">Elon Musk</h1>
						<h2 class="text-center">IT Assistant</h2>
	
						<div style="border: 1px solid black; padding-top: 2px; padding-bottom: 2px;" class="mt-8">
							<h2 class="text-center">View Details</h2>
						</div>
					</div>
				</div>


				<div class=" py-8 w-52 flex flex-col justify-center items-center leading-4 mr-4 mb-4" style="border: 1px solid black;">
					<div class="w-24 h-24 bg-primary rounded-full"></div>
					
					<div>
						<h1 class="text-2xl font-bold">Elon Musk</h1>
						<h2 class="text-center">IT Assistant</h2>
	
						<div style="border: 1px solid black; padding-top: 2px; padding-bottom: 2px;" class="mt-8">
							<h2 class="text-center">View Details</h2>
						</div>
					</div>
				</div>


				<div class=" py-8 w-52 flex flex-col justify-center items-center leading-4 mr-4 mb-4" style="border: 1px solid black;">
					<div class="w-24 h-24 bg-primary rounded-full"></div>
					
					<div>
						<h1 class="text-2xl font-bold">Elon Musk</h1>
						<h2 class="text-center">IT Assistant</h2>
	
						<div style="border: 1px solid black; padding-top: 2px; padding-bottom: 2px;" class="mt-8">
							<h2 class="text-center">View Details</h2>
						</div>
					</div>
				</div>


				<div class=" py-8 w-52 flex flex-col justify-center items-center leading-4 mr-4 mb-4" style="border: 1px solid black;">
					<div class="w-24 h-24 bg-primary rounded-full"></div>
					
					<div>
						<h1 class="text-2xl font-bold">Elon Musk</h1>
						<h2 class="text-center">IT Assistant</h2>
	
						<div style="border: 1px solid black; padding-top: 2px; padding-bottom: 2px;" class="mt-8">
							<h2 class="text-center">View Details</h2>
						</div>
					</div>
				</div>
				


			</div>




		</div>

	</section>
{% endblock %}